@mixin border {
    border: 1px solid red;
}

$buttonColorAvailableForSignUp: rgba(13, 229, 90, 0.8); 
$buttonColorSelected: rgba(209, 119, 5, 0.5); 
$borderTransparent: rgba(0, 0, 0, 0.5);


html {
    font-size: 62.5%;
    font-size: 0.8rem;
}

body {
    // padding: 0;
    margin-left: 2rem;
    margin-top: 2rem;
    // height: 100vh;
    background-color: rgba($color: #efface, $alpha: 1.0);
    // margin: 0 auto;
    // text-align: left;
    // transition: all 2s;
    // max-width: 33.75rem;
    .pageTitle {
        h1 {
            margin: 2rem 0;
            padding: 0;
            text-align: center;
            font-size: 2.5rem;
            // margin-top: 2rem;
        }
    }
}

// two box styles + header of the boxes
.wrapper {
    background: linear-gradient(0deg, rgba(253,45,132,0.2112553724928367) 6%, rgba(34,117,195,0.1794502148997135) 82%);
    height: 100%;
    // @include border;
    // width: 90%;
    // text-align: center;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // text-align: center;
    // align-content: center;
    align-items: center;
    // flex-wrap: wrap;
}

.dayContainer, .clientListContainer {
    border: 1px solid $borderTransparent;
    width: 30rem;
    height: 20rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

.dayContainer {
    // flex: 1 0 40%;
    // margin-right: 0.75rem;
    margin-bottom: 2rem;
    .dayContainerHeaderBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__paragraphs {
            margin: 0;
        }
    }
}


.clientListContainer {
    // border: rgba(0, 0, 0, 0.804);
    // flex: 1 0 40%;
    .clientListContainerHeaderBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-content: flex-start;
        text-align: center;
        // padding-left: 4rem;
        .clientListContainerHeaderBoxParagraphs {
            margin: 0;
            padding: 0;
        }
    }
}

.dayContainerHeaderBox, .clientListContainerHeaderBox {
    border-bottom: 1px solid $borderTransparent;
    height: 5rem;
    font-size: 2rem;
}



// body of the boxes
.dayContainerBodyBox {
    // display: flex;
    // align-items: center;
    // align-content: center;
    //why don't boxes react to align-content: space-between???
    height: 100%;
    .dayContainerBodyBoxButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // margin-bottom: 2rem;
        // @include border;
        height: 15rem;
        // display: block;
        // align-items: center;
        .additonalClassForClosestMethod {
            width: 20rem;
            position: relative;
        }
    }
}

.timeSlotButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // width: 20rem;
    width: 100%;
    box-shadow: none;
    border: 0px solid $borderTransparent;
    height: 4rem;
    border-radius: 0.7rem;
    background-color: $buttonColorAvailableForSignUp;
    color: black;
    .times {
        flex: 1 0 75%;
    }
    .counters {
        flex: 1 0 25%;
        border-left: 1px solid $borderTransparent;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



//toggleClass that highlights the selected time slot
.selectedButtonChangesColor {
    background-color: $buttonColorSelected !important;
}

//add name button styles
.addClientNameButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // margin-top: 2rem;
    margin: 2rem auto;
    width: 14rem;
    height: 4rem;
    padding: 0;
    .addClientButton {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0.5rem;
        font-size: 1.4rem;
    }
}

//add a class that will be added to the list box
// .thisClassWillBeToggledToHighlightClientListBox {
//     background-color: rgba(242, 107, 199, 0.133);
//     color: rebeccapurple;
// }

.hiddenClassForArray {
    display: none;
}

.hiddenSOLDSign {
    // display: block;
    opacity: 0;
    // display: none;
    color: red;
    position: absolute;
    right: -2.9rem;
    top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    rotate: -35deg;
}