@mixin border {
    border: 1px solid red;
}

$buttonColorAvailableForSignUp: rgb(13, 229, 90); 
$buttonColorSelected: rgb(209, 119, 5); 

html {
    font-size: 62.5%;
    font-size: 0.8rem;
}

body {
    // padding: 0;
    margin-left: 2rem;
    margin-top: 2rem;
    // height: 100vh;
    background-color: rgba($color: #efface, $alpha: 1.0);
    // margin: 0 auto;
    // text-align: left;
    // transition: all 2s;
    // max-width: 33.75rem;
    .pageTitle {
        h1 {
            margin: 2rem 0;
            padding: 0;
            text-align: center;
            // margin-top: 2rem;
        }
    }
}

// two box styles + header of the boxes
.wrapper {
    // @include border;
    // width: 90%;
    // text-align: center;
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // text-align: center;
    // align-content: center;
    align-items: center;
    // flex-wrap: wrap;
}

.dayContainer, .clientListContainer {
    border: 1px solid black;
    width: 30rem;
    height: 20rem;
    font-size: 1.6rem;
}

.dayContainer {
    // flex: 1 0 40%;
    // margin-right: 0.75rem;
    margin-bottom: 2rem;
    .dayContainerHeaderBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__paragraphs {
            margin: 0;
        }
    }
}


.clientListContainer {
    // flex: 1 0 40%;
    .clientListContainerHeaderBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // align-content: flex-start;
        text-align: center;
        // padding-left: 4rem;
        .clientListContainerHeaderBoxParagraphs {
            margin: 0;
            padding: 0;
        }
    }
}

.dayContainerHeaderBox, .clientListContainerHeaderBox {
    border-bottom: 1px solid black;
    height: 5rem;
}



// body of the boxes
.dayContainerBodyBox {
    // display: flex;
    // align-items: center;
    // align-content: center;
    //why don't boxes react to align-content: space-between???
    height: 100%;
    .dayContainerBodyBoxButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // margin-bottom: 2rem;
        // @include border;
        height: 15rem;
        width: 100%;
        // display: block;
        // align-items: center;
        .timeSlotButtons {
            height: 4rem;
            // @include border;
            // text-align: center;
            width: 20rem;
            border-radius: 0.7rem;
            // display: block;
            background-color: $buttonColorAvailableForSignUp;
            color: black;
        }
    }
}



//toggleClass that highlights the selected time slot
.selectedButtonChangesColor {
    background-color: $buttonColorSelected !important;
}

//add name button styles
.addClientNameButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    // margin-top: 2rem;
    margin: 2rem auto;
    width: 14rem;
    height: 4rem;
    padding: 0;
    .addClientButton {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0.5rem;
        font-size: 1.4rem;
    }
}

//add a class that will be added to the list box
.thisClassWillBeToggledToHighlightClientListBox {
    background-color: rgba($color: $buttonColorSelected, $alpha: 0.2);
    // color: rebeccapurple;
}

.hiddenClassForArray {
    display: none;
}

