@mixin border {
    border: 1px solid red;
}

$buttonColorAvailableForSignUp: rgba(13, 229, 90, 0.8); 
$buttonColorSelected: rgba(209, 119, 5, 0.5); 
$borderTransparent: rgba(0, 0, 0, 0.5);

html {
    font-size: 62.5%;
    font-size: 0.8rem;
    // margin: 0 auto;
}

body {
    margin-top: 2rem;
    background-color: rgba($color: #efface, $alpha: 1.0);
    text-align: center;
    .pageTitle {
        h1 {
            margin: 2rem 0;
            padding: 0;
            text-align: center;
            font-size: 2.5rem;
        }
    }
}

.marvel-device.iphone8plus.gold {
    // margin: 0 auto;
} 

// two box styles + header of the boxes
.wrapper {
    background: linear-gradient(0deg, rgba(253,45,132,0.2112553724928367) 6%, rgba(34,117,195,0.1794502148997135) 82%);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dayContainer, .clientListContainer {
    border: 1px solid $borderTransparent;
    width: 30rem;
    height: 20rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
}

.dayContainer {
    margin-bottom: 2rem;
    .dayContainerHeaderBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        &__paragraphs {
            margin: 0;
        }
    }
}

.clientListContainer {
    .clientListContainerHeaderBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        .clientListContainerHeaderBoxParagraphs {
            margin: 0;
            padding: 0;
        }
    }
}

.namesAddedToTimeSlotSoFar li {
    text-align: left;
}

.dayContainerHeaderBox, .clientListContainerHeaderBox {
    border-bottom: 1px solid $borderTransparent;
    height: 5rem;
    font-size: 2rem;
}

// body of the boxes
.dayContainerBodyBox {
    height: 100%;
    .dayContainerBodyBoxButtons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 15rem;
        .additonalClassForClosestMethod {
            width: 20rem;
            position: relative;
            // @include border;
        }
    }
}

.timeSlotButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18.5rem;
    box-shadow: none;
    border: 0px solid $borderTransparent;
    height: 4rem;
    border-radius: 0.7rem;
    background-color: $buttonColorAvailableForSignUp;
    color: black;       
    margin: 0 auto;
    .times {
        flex: 1 0 65%;
    }
    .counters {
        flex: 1 0 25%;
        border-left: 1px solid $borderTransparent;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//toggleClass that highlights the selected time slot
.selectedButtonChangesColor {
    background: $buttonColorSelected !important;
    // z-index: 10;
}

//add name button styles
.addClientNameButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem auto;
    width: 14rem;
    height: 4rem;
    padding: 0;
    .addClientButton {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        border: 1px solid $borderTransparent;
    }
}

.hiddenClassForArray {
    display: none;
}

.hiddenSOLDSign {
    opacity: 0;
    color: red;
    position: absolute;
    right: 2.7rem;
    top: 0.8rem;
    font-size: 1.6rem;
    font-weight: 700;
    transform: rotate(-35deg);
    display: flex;
    span {
        border: 1px solid red;
        padding: 3px 0 0 0;
    }
}